.header {
  height: 110px;
  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}

.header-logo img {
  height: 85px;
  width: auto;
  object-fit: contain;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header-user span {
  color: #173b70;
  font-size: 1.5rem;
  font-weight: 700;
}

.logout-btn {
  border: none;
  background: transparent;

  color: #173b70;
  font-size: 2.5rem;
  cursor: pointer;
}