.docentes-container {
  width: 100%;
  min-height: calc(100vh - 110px);

  padding: 25px;

  box-sizing: border-box;
}

.docentes-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 25px;
}

.docentes-header h1 {
  color: #173b70;

  font-size: 28px;
  font-weight: 700;
}

.acciones {
  display: flex;
  align-items: center;

  gap: 20px;
}

.buscador {
  width: 220px;
  height: 40px;

  border: 2px solid #8a8a8a;
  border-radius: 25px;

  padding: 0 15px;

  outline: none;

  color: #173b70;
}

.btn-agregar {
  background-color: #f4a23a;
  color: white;

  border: none;
  border-radius: 12px;

  padding: 10px 18px;

  cursor: pointer;

  transition: 0.2s;

  font-weight: 600;
}

.btn-agregar:hover {
  opacity: 0.9;
}


.tabla-docentes {
  width: 100%;

  border-collapse: collapse;

  background: white;
}

.tabla-docentes thead tr {
  background: #173b70;
}

.tabla-docentes th {
  color: white;

  padding: 16px 10px;

  text-align: center;

  font-size: 14px;
  font-weight: 700;
}

.tabla-docentes td {
  padding: 14px 10px;

  border-bottom: 1px solid #dcdcdc;

  text-align: center;
  vertical-align: middle;

  color: #173b70;

  font-size: 14px;
  font-weight: 700;
}


.tabla-docentes td:nth-child(1) {
  font-weight: 700;
}

.tabla-docentes td:nth-child(2) {
  font-weight: 700;
}

.tabla-docentes td:nth-child(3) {
  font-weight: 700;
}

.tabla-docentes td:nth-child(4) {
  font-weight: 700;
}

.tabla-docentes td:nth-child(5) {
  font-weight: 700;
}


.acciones-tabla {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 12px;
}

.btn-editar,
.btn-eliminar {
  width: 34px;
  height: 34px;

  border: none;
  border-radius: 8px;

  background: #d9d9d9;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: all 0.2s ease;
}

.btn-editar svg,
.btn-eliminar svg {
  color: #5f5f5f;

  font-size: 18px;
}

.btn-editar:hover,
.btn-eliminar:hover {
  background: #173b70;
}

.btn-editar:hover svg,
.btn-eliminar:hover svg {
  color: white;
}


.fecha-pill {
  background: #e8e8e8;

  color: #173b70;

  padding: 5px 12px;

  border-radius: 15px;

  font-size: 14px;
  font-weight: 700;

  display: inline-block;
}


@media (max-width: 768px) {

  .docentes-header {
    flex-direction: column;

    gap: 15px;
  }

  .acciones {
    width: 100%;

    flex-direction: column;
    align-items: stretch;
  }

  .buscador {
    width: 100%;
  }

  .tabla-docentes {
    display: block;

    overflow-x: auto;
  }

}


.tabla-docentes th,
.tabla-docentes td {
  text-align: center;
  vertical-align: middle;
}



.tabla-docentes th {
  color: white;

  padding: 16px 10px;

  text-align: center;

  font-size: 14px;
  font-weight: 700;

  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.tabla-docentes th:last-child {
  border-right: none;
}
.tabla-docentes tbody tr:hover {
  background-color: #f7f7f7;
}