.dashboard-content {
  padding: 35px;
}

.dashboard-title {
  color: #173b70;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 5px;
}

.dashboard-subtitle {
  color: #173b70;
  font-size: 24px;
  font-weight: 400;
}