.modal-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.28);

  display: flex;
  justify-content: center;
  align-items: center;


}

.delete-modal {
  width: 420px;

  background: #f5c27c;

  border-radius: 30px;

  padding: 35px 30px;

  text-align: center;

  animation: aparecer 0.2s ease;
}

.delete-modal p {
  color: #173b70;

  font-size: 18px;
  line-height: 1.5;

  margin-bottom: 30px;
}

.b.botones-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.btn-eliminar-confirm,
.btn-cancelar {
  width: 130px;
  height: 42px;

  border: none;
  border-radius: 10px;

  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

}

.btn-eliminar-confirm {
  background: #173b70;
}

.btn-cancelar {
  background: #8dc63f;
}

.btn-eliminar-confirm:hover,
.btn-cancelar:hover {
  opacity: .9;
}